html {
    /* background-color: #99ddff; */
    background-image: url(../images/background.jpg);
}

body {
    color: black;
    padding-bottom: 17px;
}

#walmart {
    vertical-align: top;
    display: inline-block;
    width: 40%;
    margin-top: 17px;
}

#teamMemberInfo {
    width: 80%;
    margin: 0 auto;
    padding: 50px;
    line-height: 25px;
    background-color: white;
    font-size: 12px;
    position: relative;
}

/* #productInfo {
    display: none;
} */

.container {
    vertical-align: top;
   display: inline-block;
   margin-left: 2%; 
}   

#whole-page {
    margin: 0 auto;
    text-align: center; 
}