/* INDEX.HTML */

html {
    /* background-color: #99ddff; */
    background-image: url(../images/background.jpg);
    background-size: 170%;
  
}

body {
    padding-bottom: 17px;
    font-family: 'Roboto', sans-serif;
}


.uk-logo, .uk-logo, .testimonials, .uk-navbar-item {
    color: black !important;
}

.uk-input, .uk-form-width-small {
    text-align: center;
    width: 200px !important;
}

/* .uk-button, .uk-button-default{
    width: 50px !important;
} */

/* #searchButton {
    text-align: center !important;
} */

#walmart {
    vertical-align: top;
    display: inline-block;;
    margin-right: 10%;
    margin-left: 10%;
}

#teamMemberInfo {
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    line-height: 25px;
    background-color: #99CCEE;
    font-size: 17px;
    display: flex;
    flex-wrap: wrap; 
}

#jed-description, #lilo-description, #ray-description, #jasmine-description {
    font-style: italic;
    font-size: 15px;
}

.uk-grid-small>* {
    padding-left: 0px !important;
}

#productInfo {
   vertical-align: top;
   display: inline-block;
   padding: 50px;
   margin-right: 10%;
  line-height: 20px;
}

#whole-page {
    margin: 0 auto;
    text-align: center; 
}

#empty-html {
    color: white;
}

#error-html {
    color: white;
}

